In [1]:
# Load data
from project_lib import Project
project = Project(project_id="54710414-eeb2-42df-820a-698b93f50f84", project_access_token="p-594d39b7f91d72f663da93ed52c36b329ac8c2c7")
csv_file = project.get_file('data_with_1_hour_bin.csv')

import pandas as pd
data = pd.read_csv(csv_file)
data.head()

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,诊断
0,2016-0798830-0,1,NaN,22.5,NaN,NaN,NaN,464.0,NaN,NaN,...,1.050,NaN,NaN,167.000000,0.8,NaN,NaN,3.1,42.003454,0.0
1,2016-08107700-0,1,14.00,18.6,NaN,NaN,NaN,636.0,NaN,NaN,...,NaN,NaN,NaN,198.500000,NaN,NaN,NaN,NaN,NaN,0.0
2,2016-08109775-0,1,0.55,10.1,NaN,NaN,NaN,334.0,NaN,NaN,...,1.100,NaN,NaN,187.333333,3.9,NaN,NaN,4.4,47.000000,0.0
3,2016-10127091-0,1,NaN,11.1,NaN,NaN,NaN,423.0,NaN,NaN,...,NaN,NaN,NaN,225.500000,NaN,NaN,NaN,NaN,NaN,0.0
4,7717785,1,NaN,11.2,1.26,NaN,NaN,238.0,NaN,NaN,...,1.415,NaN,1.52,219.400000,2.6,NaN,NaN,3.6,52.429311,0.0

In [19]:
# Fill NaN by holding the value of the last timestamp
patients = set(data[u'住院流水号'])

new_data = pd.DataFrame()
for pa in patients:
    patient_data = data[data[u'住院流水号']==pa].sort_values(u'时间戳')
    patient_data = patient_data.fillna(method='ffill')
    new_data = new_data.append(patient_data)

new_data.head()

(2984, 22)

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,诊断
2240,7796202,573,171.5,23.3,NaN,NaN,NaN,396.0,NaN,NaN,...,NaN,NaN,NaN,199.5,NaN,NaN,NaN,NaN,NaN,1.0
2834,7796202,646,171.5,23.3,NaN,NaN,NaN,396.0,NaN,NaN,...,NaN,NaN,NaN,199.5,NaN,NaN,NaN,NaN,NaN,1.0
1714,7705969,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2491,7705969,117,6.1,13.0,NaN,NaN,NaN,500.0,NaN,NaN,...,NaN,NaN,NaN,223.0,NaN,NaN,NaN,NaN,NaN,0.0
1454,2017-02170984-0,3,3.3,10.3,1.12,NaN,13.9,436.0,33.1,175.0,...,2.6,16.0,4.59,227.5,NaN,NaN,NaN,NaN,NaN,0.0

In [23]:
# Fill NaN by imputation
feature_list = data.axes[1][2:-1]

for feature in feature_list:
    m = data[feature].mean()
    new_data[feature] = new_data[feature].fillna(m)

new_data.head()

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,诊断
2240,7796202,573,171.500000,23.300000,1.308355,1.471463,25.86681,396.000000,52.959677,142.766513,...,1.835068,32.93266,3.16966,199.500000,2.64705,0.906821,1.471463,4.096933,38.551103,1.0
2834,7796202,646,171.500000,23.300000,1.308355,1.471463,25.86681,396.000000,52.959677,142.766513,...,1.835068,32.93266,3.16966,199.500000,2.64705,0.906821,1.471463,4.096933,38.551103,1.0
1714,7705969,72,35.181641,14.193637,1.308355,1.471463,25.86681,355.476133,52.959677,142.766513,...,1.835068,32.93266,3.16966,206.390913,2.64705,0.906821,1.471463,4.096933,38.551103,0.0
2491,7705969,117,6.100000,13.000000,1.308355,1.471463,25.86681,500.000000,52.959677,142.766513,...,1.835068,32.93266,3.16966,223.000000,2.64705,0.906821,1.471463,4.096933,38.551103,0.0
1454,2017-02170984-0,3,3.300000,10.300000,1.120000,1.471463,13.90000,436.000000,33.100000,175.000000,...,2.600000,16.00000,4.59000,227.500000,2.64705,0.906821,1.471463,4.096933,38.551103,0.0

In [25]:
# Save data to the storage
from project_lib import Project
project = Project(project_id="54710414-eeb2-42df-820a-698b93f50f84", project_access_token="p-594d39b7f91d72f663da93ed52c36b329ac8c2c7")
project.save_data('data_without_missing_value.csv', new_data.to_csv(header=True, index=False))

{'asset_id': 'a62ff9af-ac8e-4a56-99da-cfddbb4a1f16',
 'bucket_name': 'sepsisprediction-donotdelete-pr-wodmbegr9uodno',
 'file_name': 'data_without_missing_value.csv',
 'message': 'File data_without_missing_value.csv has been written successfully to the associated OS'}