In [1]:
# Load data
from project_lib import Project
project = Project(project_id="54710414-eeb2-42df-820a-698b93f50f84", project_access_token="p-594d39b7f91d72f663da93ed52c36b329ac8c2c7")
csv_file = project.get_file('data_numeric.csv')

import pandas as pd
data = pd.read_csv(csv_file)
data.head()

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,血沉
0,2016-0798830-0,1,NaN,22.5,NaN,NaN,NaN,464.0,NaN,NaN,...,1.050,NaN,NaN,167.000000,0.8,NaN,NaN,3.1,42.003454,NaN
1,2016-08107700-0,1,14.00,18.6,NaN,NaN,NaN,636.0,NaN,NaN,...,NaN,NaN,NaN,198.500000,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-08109775-0,1,0.55,10.1,NaN,NaN,NaN,334.0,NaN,NaN,...,1.100,NaN,NaN,187.333333,3.9,NaN,NaN,4.4,47.000000,NaN
3,2016-10127091-0,1,NaN,11.1,NaN,NaN,NaN,423.0,NaN,NaN,...,NaN,NaN,NaN,225.500000,NaN,NaN,NaN,NaN,NaN,NaN
4,7717785,1,NaN,11.2,1.26,NaN,NaN,238.0,NaN,NaN,...,1.415,NaN,1.52,219.400000,2.6,NaN,NaN,3.6,52.429311,NaN

In [2]:
# Fill NaN by holding the value of the last timestamp
patients = set(data[u'住院流水号'])

new_data = pd.DataFrame()
for pa in patients:
    patient_data = data[data[u'住院流水号']==pa].sort_values(u'时间戳')
    patient_data = patient_data.fillna(method='ffill')
    new_data = new_data.append(patient_data)

new_data.head()

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,血沉
204,2017-02176829-0,3,NaN,NaN,NaN,NaN,6.7,NaN,60.6,405.0,...,1.78,16.0,NaN,NaN,5.1,NaN,NaN,5.26,33.752776,NaN
743,2017-02176829-0,4,NaN,11.7,0.85,NaN,6.7,567.0,60.6,405.0,...,1.78,16.0,3.04,219.0,5.1,NaN,NaN,5.26,33.752776,NaN
60,2017-02175870-0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,2017-02175870-0,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380,2017-02175870-0,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Fill NaN by imputation
feature_list = data.axes[1][2:-1]

for feature in feature_list:
    m = data[feature].mean()
    new_data[feature] = new_data[feature].fillna(m)

new_data.head()

,住院流水号,时间戳,C反应蛋白,白细胞数量,国际标准化比值,血浆降钙素原,血浆总胆红素,血小板,血氨,碱性磷酸酶,...,钙,肌酐,纤维蛋白原,血红蛋白,血乳酸,镁,磷,钾,二氧化碳分压,血沉
204,2017-02176829-0,3,35.109718,14.201427,1.304449,1.471463,6.70000,356.877049,60.600000,405.000000,...,1.780000,16.00000,3.174734,206.406158,5.100000,0.906821,1.471463,5.260000,33.752776,NaN
743,2017-02176829-0,4,35.109718,11.700000,0.850000,1.471463,6.70000,567.000000,60.600000,405.000000,...,1.780000,16.00000,3.040000,219.000000,5.100000,0.906821,1.471463,5.260000,33.752776,NaN
60,2017-02175870-0,4,35.109718,14.201427,1.304449,1.471463,25.86681,356.877049,52.959677,142.766513,...,1.836576,32.93266,3.174734,206.406158,2.646719,0.906821,1.471463,4.087293,38.526478,NaN
154,2017-02175870-0,21,35.109718,14.201427,1.304449,1.471463,25.86681,356.877049,52.959677,142.766513,...,1.836576,32.93266,3.174734,206.406158,2.646719,0.906821,1.471463,4.087293,38.526478,NaN
1380,2017-02175870-0,40,35.109718,14.201427,1.304449,1.471463,25.86681,356.877049,52.959677,142.766513,...,1.836576,32.93266,3.174734,206.406158,2.646719,0.906821,1.471463,4.087293,38.526478,NaN

In [9]:
# Save data to the storage
from project_lib import Project
project = Project(project_id="54710414-eeb2-42df-820a-698b93f50f84", project_access_token="p-594d39b7f91d72f663da93ed52c36b329ac8c2c7")
project.save_data('data_without_missing_value.csv', new_data.to_csv(header=True, index=False), overwrite=True)

{'asset_id': 'c7b356cb-6911-45c0-a1c1-f802e0be8ad6',
 'bucket_name': 'sepsisprediction-donotdelete-pr-wodmbegr9uodno',
 'file_name': 'data_without_missing_value.csv',
 'message': 'File data_without_missing_value.csv has been written successfully to the associated OS'}